.mysimpleCard{
  justify-content: center;
  margin: 6rem auto;
  margin-bottom: 35px;
  border: 2px solid black;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: row-reverse;
  width: 45%;
  align-content: center;
  background-color: gainsboro;
  
}


.c_describe{
  padding: 1rem;
  font-size: small;
  margin: 0px;
  text-align: center;
}

.c_image {
  width: 310px;
  height: 35vh;
}

.c_title{
   padding: 1rem;
   text-align: center;
   margin: 0px;
   border: 1px solid black;
  
}

